@import "src/index";

.page-container {
    height: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    bottom: 0px;
    color: white; 
    div {
        display: inline-block;
        position: relative;
        display: flex;
        bottom: 0px;
        padding: 20px;
        h6 {
            font-size: 36px;
        }
    }
}

.content-body {
    height: 90%;
}

.changelog-content-wrapper {
    display: flex-box;
    div {
        border: 1px solid black;
    }
}

.change-log-ver-col {
    width: 50%;
}

.change-log-info-col {
    right: 50%;
    width: 50%;
}