@import "src/index";

*[id^='circle-'] {
    position: absolute;
    border-radius: 50%;
    z-index: 3;
    filter: blur(2px);
    // animation-name: circleBottom;
    // animation-duration: 2s;
    // animation-delay: 2s;
    // animation-fill-mode: forwards;
    background: linear-gradient(
        to right bottom, 
          $circle-primary, 
          $circle-secondary
      );
    
  }

  .circle-container {
      height: inherit;
      width: inherit;
    }
