@import "src/index";

.circle {
    height: 20rem; 
    width: 20rem; 
    position: absolute;
    border-radius: 50%;
    z-index: 3;
    background: linear-gradient(
        to right bottom, 
          $circle-primary, 
          $circle-secondary
      );   
  }

  .circle-container {
      height: inherit;
      width: inherit;
    }
