@import "src/index";

#repoCount:link {
    color: inherit;
    text-decoration: inherit;
    cursor: auto;
}

#repoCount:visited {
    color: inherit;
    text-decoration: inherit;
    cursor: auto;
}

#repoCount:hover {
    cursor: pointer;
}

.dev-card-list-container {
    padding: 2rem;
    padding-left: 3rem;
    font-size: 16px;
}

.dev-card-list {
    padding-top: 80px;
}

