@import "src/index";

.navbar {
    width: 100%;
    display: flex;
    background-color: $nav-color-main;
    align-content: center;
    text-align: center;
    border: 3px solid $nav-color-secondary;
    text-align: center;    
    justify-content: center;
}

.nav-content-container {
    display: inline-block;
    justify-content: center;
}

.content-end {
    margin-left: 1rem;
    margin-right: 20px;
    right: 0px;
    justify-content: end;
}

.nav-link-body a {
    text-decoration: none;
    transition: .2s;
}

.nav-link-body a:hover{
    background: linear-gradient(90deg, $linear-gradient-primary, $linear-gradient-secondary);
    text-shadow: none;
    background-clip: text;
    -webkit-backdrop-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
    font-size: 28px;    
}

.nav-link-body a:hover ~ .nav-link-src-active {

}

.content-end {
    // background: linear-gradient(90deg, $linear-gradient-primary, $linear-gradient-secondary);
    transform: scale(10px,10px);
}

.content-end-container {
    padding: 1px; 
    // background: linear-gradient(90deg, $linear-gradient-primary, $linear-gradient-secondary);
    background-size: 40px;
    // transform: scale(10px,10px);z
}

.content-end-container a {
    height: 40px;
    width: 40px;
    padding: 4px;
    background: linear-gradient(90deg, $linear-gradient-primary, $linear-gradient-secondary);
}