$nav-color-main: blue;
$nav-color-secondary: black; 

.navbar {
    width: 100%;
    display: flex;
    color: rgb(73, 73, 73); 
    background-color: $nav-color-main;
    align-content: center;
    border: 3px solid $nav-color-secondary;
    text-align: center;
    
}

.content-container {
    display: inline-block;
    
}

.content-end {
    margin-right: 20px;
}