@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import "src/index";


.nav-link-body {
    padding-left: 20px; 
    padding-right: 10px;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: inline-block;
}

.nav-link-body a {
    // border-bottom: 1px solid linear-gradient(90deg, $linear-gradient-primary, $linear-gradient-secondary);
    text-decoration: underline;
    text-align: center;
    color: $primary-text-color;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: white; 
}