@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import "src/index";

.nav-link {
    color: #658ec6;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}