@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

$container-background-color-main: rgb(87, 87, 87);

.App {
  text-align: center;
}

.base-content-container {
  margin: 0px 70px;
  background-color: $container-background-color-main;
  border: thin 1px black;
  min-height: 100%;
  left: 10px;
  right: 10px;
}

.base-content-row {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#github-profile {
  
  margin: 10px 0px;
}