@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.App {
  text-align: center;
}

.content-container {
  
}

.content-row {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#github-profile {
  
  margin: 10px 0px;
}