@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import "src/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-wrapper, .glass-page-wrapper {
  border:  $content-wrapper-color-border;
}

.glass-page-wrapper {
  background: white;
  min-height: 80vh;
  width: 100%;
  border-radius: 2rem;
  z-index: 10;
  backdrop-filter: blur(2rem);
  display: flex;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  // position: relative;
}

.content-wrapper {
  flex: 2;
  margin: 20px;
  min-width: 100vh;
}

.circle-container {
  z-index: 1;
}